@import 'starter/theme/colors.scss';

.header {
  font-size: 0.9rem;
  height: 2.3rem;
  padding: 0.6rem 1.2rem 0 1.2rem;
  display: flex;
}

.header .panelRight {
  margin-left: auto;
  display: flex;
}

.header h4 {
  font-size: 120%;
}

.footer {
  font-size: 0.9rem;
  height: 2.3rem;
  padding: 2.8rem 1.2rem 0.5rem 1.2rem;
  display: flex;
}

.footerRow {
  align-self: flex-end;
  flex-grow: 1;
  display: flex;
  color: #707070;
}

.footerRowItem {
  align-self: flex-end;
}

.footerRowItemLast {
  margin-left: auto;
}

.appContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.appBody {
  flex-grow: 1;
  padding: 0.2rem 1.2rem 0.2rem 1.2rem;
}

.ghIcon {
  opacity: 0.6;
}

.ghIcon:hover {
  opacity: 0.9;
}

.footerRow a {
  color: #303030;
  border-bottom: 1px solid $border-color;
}

.ghIcon a {
  border-bottom: none;
}

.footerRow a:hover {
  color: #101010;
  border-bottom: 1px solid $border-hover-color;
}

.ghIcon a:hover {
  border-bottom: none;
}
