$text-color: #222 !default;
$header-color: #06f !default;
$title-color: #7026b9 !default;
$link-color: darkviolet !default;
$border-color: #dedede !default;
$link-hover-color: mediumorchid !default;
$border-hover-color: #c7c7c7 !default;
$card-color: #ffffe0 !default;
